<nav [class]="(userLoggedIn()? 'online-bg-color' :'bg-dark') + ' navbar navbar-expand-lg navbar-dark fixed-top' ">
    <a class="navbar-brand " style="color: goldenrod;" href="#">FriendZone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/online-zone" routerLinkActive="active">
                    Online Zone
                </a>
            </li>
            <li *ngIf="userLoggedIn()" class="nav-item">
                <a class="nav-link" routerLink="/follower-zone">
                    Follower Zone
                </a>
            </li>
            <li *ngIf="userLoggedIn()" class="nav-item">
                <a class="nav-link" routerLink="/following-zone">
                    Following Zone
                </a>
            </li>
        </ul>
        <ul *ngIf="!userLoggedIn()" class="navbar-nav">
            <a class="nav-link" routerLink="/login">
                Login
            </a>
            <a class="nav-link" routerLink="/register">
                Register
            </a>
        </ul>
        <ul *ngIf="userLoggedIn()" class="navbar-nav">

            <div class="dropdown">
                <div class="dropdown-toggle" style="margin-left: 100px; color: white;" id="userMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img *ngIf="!user.profileImage.secure_url" class="user-pic">
                    <img *ngIf="user.profileImage.secure_url" class="user-pic" [src]="user.profileImage.secure_url">
                </div>

                <div class="dropdown-menu" aria-labelledby="userMenu">
                    <h3 class="dropdown-header">{{user.name}}</h3>
                    <hr>
                    <a class="dropdown-item" (click)="uploadDialog()" style="cursor: pointer;">Update Picture</a>
                    <a class="dropdown-item" (click)="logout()" routerLink="/login">Logout</a>
                </div>
            </div>
        </ul>


    </div>

</nav>