<div class="row" style="margin-top: 100px;">
    <div class="col-md-4 mb-3" *ngFor="let user of users">
        <div class="card text-center">
            <div class="card-body">
                <div class="avatar-img mx-auto">
                    <img *ngIf="user.profileImage" [src]="user.profileImage.secure_url" width="100%" height="100%">
                    <img *ngIf="!user.profileImage" [src]="default_img_url" width="100%" height="100%">
                </div>
                <h3 class="card-title">
                    {{user.name}}
                </h3>
                <hr>
                <div class="row myContainer">
                    <div class="text-box">
                        <h5 class="count-text">0</h5>
                        Posts
                    </div>
                    <!-- <div class="mx-auto"></div> -->
                    <div class="text-box">
                        <h5 class="count-text">{{user.followers}}</h5>
                        Followers
                    </div>
                    <!-- <div class="mx-auto"></div> -->
                    <div class="text-box">
                        <h5 class="count-text">{{user.following}}</h5>
                        Following
                    </div>
                </div>
                <hr>
                <button *ngIf="userLoggedIn()"
                    [class]="(user.isFollowed? 'btn-danger': 'online-text-color') + ' btn w-100'"
                    (click)="user.isFollowed ? unfollow(user._id) : follow(user._id)"
                    style="color: white;">{{user.isFollowed? 'Unfollow': 'Follow' }}</button>

                <a *ngIf="!userLoggedIn()" class="btn btn-dark w-100" style="color: white;"
                    routerLink="/login">Follow</a>
            </div>
        </div>
    </div>
</div>